$fontFamily: "Lato", sans-serif;
$mainFont: 16px;
$mdFont: 24px;
$imgPath: "../img/Layer";

$darkColor: #222222;
$darkishColor: #222224;
$greyColor: #5d5d5d;
$highlight: #f16d7f;

$btnColor: #f26376;
$btnBordColor: #ff6a6a;
