@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Lato:wght@400;900&display=swap");
@import "vars";
@import "header";
@import "footer";
@import "mixins";
@import "card";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.mt-32 {
  margin-top: 32px;
}

// Index page

.promo {
  height: 764px;
  background-color: #f1e4e6;
  margin-bottom: 65px;
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  &__flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background: url("../img/Man.png") no-repeat -228px;
  }
  &__title {
    max-width: 445px;
    border-left: 12px solid $highlight;
    padding-left: 16px;
  }
}

.big-text {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: $darkColor;
}

.highlight {
  color: $highlight;
}

.category {
  p {
    font-size: $mainFont;
    text-align: center;
    color: #ffffff;
  }
  h3 {
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $highlight;
  }
  &__flex {
    @include flex-wrap;
    margin-bottom: 96px;
  }
  &__item {
    @include bgImgLoop;
    width: 1140px;
    height: 180px;
    padding: 65px 490px;
  }
  &__item:not(:last-child) {
    width: 360px;
    height: 260px;
    padding: 105px 103px;
  }
}

.features {
  h2 {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
  }
  &__text {
    text-align: center;
    margin-bottom: 48px;
  }
}

.cards-container {
  @include flex-wrap;
}

.btn {
  color: $btnColor;
  cursor: pointer;
  min-width: 211px;
  border: 1px solid $btnBordColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 39px 14px;
  &-center {
    margin: 48px auto 95px;
    display: block;
  }
}

.factors {
  background-color: $darkishColor;
  padding: 103px 0 104px;
  &__flex {
    @include flex-wrap;
  }
}

.factor {
  color: #fbfbfb;
  width: 360px;
  text-align: center;
  img {
    display: block;
    margin: auto;
    margin-bottom: 28px;
    min-height: 40px;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  p {
    margin-top: 16px;
    max-width: 360px;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
  }
}

.subscribe {
  background-image: url(../img/Footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $darkishColor;
  h3 {
    max-width: 557px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 167.2%;
    span {
      font-weight: bold;
      font-size: 24px;
      display: block;
    }
  }
  input {
    width: 256px;
    min-height: 49px;
    border: none;
    padding: 7px 64px 6px 22px;
    background: #e1e1e1;
    border-top-left-radius: 25%55px;
    border-bottom-left-radius: 25%55px;
  }
  button {
    min-width: 100px;
    min-height: 49px;
    background: $highlight;
    color: white;
    border: none;
    padding: 7px 7px 6px 8px;
    border-top-right-radius: 25%25px;
    border-bottom-right-radius: 25%25px;
    margin-left: -4px;
    cursor: pointer;
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    padding: 97px 0 156px;
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 557px;
    margin-top: 53px;
  }
}

.quote {
  text-align: center;
  max-width: 360px;
  p {
    margin-top: 30px;
    max-width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $darkishColor;
  }
}
