@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Lato:wght@400;900&display=swap");
@import "vars";
@import "header";
@import "mixins";
@import "card";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
  //   font-size: $mainFont;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

// Index page

.promo {
  height: 764px;
  background-color: #f1e4e6;
  margin-bottom: 65px;
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  &__flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background: url("../img/Man.png") no-repeat -228px;
  }
  &__title {
    max-width: 445px;
    border-left: 12px solid $highlight;
    padding-left: 16px;
  }
}

.big-text {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: $darkColor;
}

.highlight {
  color: $highlight;
}

.category {
  p {
    font-size: $mainFont;
    text-align: center;
    color: #ffffff;
  }
  h3 {
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $highlight;
  }
  &__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 96px;
  }
  &__item {
    @include bgImgLoop;
    width: 1140px;
    height: 180px;
    padding: 65px 490px;
  }
  &__item:not(:last-child) {
    width: 360px;
    height: 260px;
    padding: 105px 103px;
  }
}

.features {
  h2 {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
  }
  &__text {
    text-align: center;
    margin-bottom: 48px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.btn {
  color: $btnColor;
  cursor: pointer;
  min-width: 211px;
  border: 1px solid $btnBordColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 39px 14px;
  &-center {
    margin: 48px auto 95px;
    display: block;
  }
}
