@import "vars";
@import "header";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
  //   font-size: $mainFont;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.promo {
  height: 764px;
  background-color: #f1e4e6;
  margin-bottom: 65px;
  &__flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background: url("../img/Man.png") no-repeat -228px;
  }
  &__title {
    max-width: 445px;
    border-left: 12px solid $highlight;
    padding-left: 16px;
  }
}

.big-text {
  font-style: bold;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: $darkColor;
}

.main-title-desc {
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
}

.highlight {
  color: #f16d7f;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
