.factors {
  background-color: $darkishColor;
  padding: 103px 0 104px;
  &__flex {
    @include flex-wrap;
  }
}

.factor {
  color: #fbfbfb;
  width: 360px;
  text-align: center;
  img {
    @include block-center;
    margin-bottom: 28px;
    min-height: 40px;
  }
  h3 {
    font-size: 20px;
    line-height: $mdFont;
  }
  p {
    @include text("", 14px, 17px, center);
    margin-top: 16px;
    max-width: 360px;
  }
}
