doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/f40149316f.js" crossorigin="anonymous") 
        link(rel="stylesheet", href="css/style.min.css")
        title Catalog
    body
        include templates/_mixins.pug
        //- Header
        include templates/_header.pug
        //- Small header
        +smallHeader('NEW ARRIVALS', 1)
        main 
            section.sort-section.mb-65.mt-50
                .container
                    +sort('FILTER', 'TRENDING NOW', 'SIZE', 'PRICE')
            section.catalog 
                .container.cards-container
                    +card("ELLERY X M'O CAPSULE", "Known for her sculptural\ takes on traditional tailoring,\
                  Australian arbiter of cool Kym Ellery teams up with Moda\
                  Operandi.", "$52.00", 9, 9)
                    +pages(6)
            section.factors 
                .container.factors__flex 
                    +factor(['Free Delivery', 'Sales & discounts', 'Quality\ assurance'], 'Worldwide delivery on everything.\ Authoritively\ morph\
              next-generation innovation with extensive models.', 3) 
            include templates/_subscribe.pug 
            include templates/_footer.pug 

