doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        //- Header
        include templates/_header.pug

        main 
            //- Promo
            section.promo 
                .container.promo__flex 
                    .promo__title 
                        h1
                            span.big-text THE BRAND 
                            span OF&nbsp;LUXERIOUS <span class="highlight">FASHION</span>
            //- Category
            section.category 
                .container.category__flex
                    include templates/_mixins.pug
                    +categoryItem('30% OFF', 'FOR WOMEN')
                    +categoryItem('HOT DEAL', "FOR MEN")
                    +categoryItem('NEW ARRIVALS', 'FOR KIDS')
                    +categoryItem('LUXIROUS', 'ACCESSORIES')