doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        //- Header
        include templates/_header.pug

        main 
            section.promo 
                .container.promo__flex 
                    .promo__title 
                        h1
                            span.big-text THE BRAND 
                            span.main-title-desc OF&nbsp;LUXERIOUS <span class="highlight">FASHION</span>