footer.footer
    .container.footer__flex 
        .footer__left 
            p © 2021 Brand All Rights Reserved.
        .footer__right 
            ul.social 
                li.social__item
                    a(href="#") 
                        <i class="fab fa-facebook-f"></i>
                li.social__item
                    a(href="#") 
                        <i class="fab fa-instagram"></i>
                li.social__item
                    a(href="#") 
                        <i class="fab fa-pinterest-p"></i>
                li.social__item
                    a(href="#") 
                        <i class="fab fa-twitter"></i>