footer.footer
    .container.footer__flex 
        .footer__left 
            p © 2021 Brand All Rights Reserved.
        .footer__right 
            .social 
                .social__item
                    <i class="fab fa-facebook-f"></i>
                .social__item
                    <i class="fab fa-instagram"></i>
                .social__item
                    <i class="fab fa-pinterest-p"></i>
                .social__item
                    <i class="fab fa-twitter"></i>