html
  head
  body
    header.header
      .container.header__flex
        .header__left
          a.logo(href='/index.html')
            img(src='../img/Logo.png' alt='logo')
          img(src='../img/Search.png' alt='Search')
        .header__right
          img.header__item(src='../img/Menu.png' alt='logo')
          img.header__item(src='../img/Account.png' alt='Account')
          img.header__item(src='../img/Cart.png' alt='Cart')