section.subscribe 
    .container.subscribe__flex 
        .quote 
            img(src="../../img/Quote.png", alt="quote img")
            p “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum“    
        .subscribe-form           
            h3 <span>SUBSCRIBE</span> FOR&nbsp;OUR&nbsp;NEWSLETTER&nbsp;AND&nbsp;PROMOTION
            .email-input.mt-32
                input(type="email" placeholder="Enter Your Email")
                button Subscribe